%p
  %b Title:
  = @book.title
%p
  %b Author:
  = @book.author
%p
  %b Description:
  = @book.description
%p
  = image_tag @book.image.url

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
